.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 78%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('img/br.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.modal img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 3px solid white;
}

.modal p {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  margin: 0 auto;
  border: 3px solid maroon;
}

header {
  height: 100px;
  padding: 0;
  margin: 0;
  color: #fff;
  background-image: url('img/br.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  position: inherit; 
}

.logo {
  float: left; 
  height: 5vw; 
  width: 5vw; 
  margin-left: 20px; 
  margin-top: 10px;
  border: none; 
}

h1 {
  color: white; 
  font-size: 2vw; 
  text-align: center;
  margin-left: 30%; 
  position: fixed;
}

h2 {
  margin-top: 1%;
  color: white; 
  font-family: 'Arial'; 
  text-align: center; 
  font-weight: bold; 
  position: center fixed; 
  font-size: 18px; 
}

p {
  text-align: center;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: url("img/br1.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply; 
  background-size: 100%; 
  background-repeat: no-repeat; 
}

.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  background-color: maroon; 
  padding: 0;
  margin: 0; 
  height: 50px; 
}

.footer p {
  font-size: 18px; 
  color: white; 
  text-align: center; 
  font-family: Arial; 
}